#hero-text {
    text-align: center;
    order: 2;
}

#hero-img {
    order: 1;
    margin-bottom: 15px;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    #hero-text {
        text-align: left;
        order: 1;
        font-size: 20px;
    }
    #hero-img {
        order: 2;
        margin-bottom: 0px;
    }
}